html {
    background-color: lightgoldenrodyellow;
}

body {
    margin: 0;
}

.uwm-header {
    background-color: #cfe1f3;
    color: #7197d3;
    padding: 30px;
    margin-bottom: 20px;
}

.second-links {
    color: #7197d3;
}

.second-links:hover {
    color: black;
}

.uwm-main {
    background-color: #d3a4a3;
    color: #fff3f3;
    margin-bottom: 20px;
    padding: 30px;
}

.uwm-footer {
    background-color: #7197d3;
    color: #cfe1f3;
    padding: 30px;
}